.SourceBox{
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}

.SourceBox:hover{
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.722);
}

.icon{
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(243, 131, 131, 0.489);
    font-size: 1.5rem;
}

.heading{
    margin-bottom: .4rem;
}

.data{
    width: 70%;
}

.data h2{
    margin-bottom: .4rem;
}